@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(45deg, #E80CE3, #6600DB);
    background-attachment: fixed;

}

h1{
    margin: 20px 0px;
    font-weight: 700;
    font-size: 30px;
}

section {
    
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 50px;
    border-radius: 10px;
    
    
}

.text {
    display: block;
    border: none;
    outline: none;
    padding: 8px;
    margin: 20px 0px;
    border-radius: 5px;
    
}

#botao{
    background-color: #6600DB;
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: none;
    outline: none;
    color: white;
    font-weight: 500;
    
}

#botao:hover{
    background-color:#5800bd ;
}